<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="khangndph20612.fpoly.pnlib">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DựÁnMẫu"
        tools:targetApi="31">
        <activity
            android:name="khangndph20612.fpoly.pnlib.MainActivity"
            android:exported="false" />
        <activity
            android:name="khangndph20612.fpoly.pnlib.taiKhoan.taoTaiKhoan"
            android:exported="false" />
        <activity
            android:name="khangndph20612.fpoly.pnlib.quanli.quanliphieumuon"
            android:exported="false" />
        <activity
            android:name="khangndph20612.fpoly.pnlib.thongKe.doanhthu"
            android:exported="false" />
        <activity
            android:name="khangndph20612.fpoly.pnlib.taiKhoan.doimatkhau"
            android:exported="false" />
        <activity
            android:name="khangndph20612.fpoly.pnlib.thongKe.top10"
            android:exported="false" />
        <activity
            android:name="khangndph20612.fpoly.pnlib.quanli.quanlithanhvien"
            android:exported="false" />
        <activity
            android:name="khangndph20612.fpoly.pnlib.quanli.quanliloaisach"
            android:exported="false" />
        <activity
            android:name="khangndph20612.fpoly.pnlib.quanli.quanlisach"
            android:exported="false" />
        <activity
            android:name="khangndph20612.fpoly.pnlib.GiaoDienChinh"
            android:exported="false" />
        <activity
            android:name="khangndph20612.fpoly.pnlib.EditName"
            android:exported="false" />
        <activity
            android:name="khangndph20612.fpoly.pnlib.ManHinhCho"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>